
<iframe src="https://www.google.com/maps/d/embed?mid=1ELysbd_HcyENvsuK5auBFbFpwZ0" width="640" height="480"></iframe><br />
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3140.9118137869177!2d-57.557482723191065!3d-38.07243480713993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1477577532004" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br />
<form id="contactform" method="POST">
    <input type="text" name="name" placeholder="... nombre"><br />
    <input type="email" name="_replyto" placeholder="... correo"><br />
    <input type="hidden" name="_subject" value="Website contact" /><br />
    <textarea name="message" placeholder="... mensaje"></textarea><br />
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" value="Enviar">
</form>
<script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', '//formspree.io/' + 'tornaloco' + '@' + 'gmail' + '.' + 'com');
</script>